set const
set morespace
set mouse
set smarthome
set smooth
unset backup

set nowrap
unset softwrap

syntax "gitcm" ".git/(.*/)?COMMIT_EDITMSG$"
color brightred "^.{72,}.+$"
color green "^# Changes to be committed:"
color red "^# Changes not staged for commit:"
color yellow "^# Untracked files:"
color brightyellow "^# On branch .+$"
color brightyellow "^# rebase in progress; onto .+$"
color brightyellow "^# You are currently splitting a commit while rebasing branch .+$"
color brightyellow "^# You are currently editing a commit while rebasing branch .+"$"
