# when completing a symlink to a directory, add a trailing slash
# just like for a real directory
set mark-symlinked-directories on

# color-code file completions using $LS_COLORS
set colored-stats on

# do not duplicate text after the cursor when completing mid-word
set skip-completed-text on

# discard all changes to history lines when accepting a line, not just
# the line that was accepted
set revert-all-at-newline on

# treat pasted strings as text, not input
set enable-bracketed-paste on

# don't save history for non-bash applications
# note that the history file will still be created
# it just won't have any lines in it
$if Bash
$else
  set history-size 0
$endif
