@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* hide close */
.tabbrowser-tab .tab-close-button {
  display: none !important;
}

:root {
  /* remove borders from active tab and below tabs */
  --tabs-border: transparent !important;
  /* darker tab toolbar */
  --chrome-background-color: rgba(180, 180, 180, 1) !important;
}

/* highlight unloaded tabs by text color */
.tabbrowser-tab[pending="true"] .tab-text {
  color: rgba(170,0,0,1) !important;
}
